# OS files
.DS_Store
Thumbs.db

# Editor / IDE files
.vscode/
.idea/
*.swp

# Node (agar future me use karo)
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment files
.env

# Build / cache
dist/
build/
.cache/

# Logs
*.log

# Backup files
*~